<ion-header>
  <ion-toolbar color="primary">
   <ion-buttons>
    <ion-back-button defaultHref="/home"></ion-back-button>
  </ion-buttons>
    <ion-title>Details of recommendation</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

   <ion-card (click)="onGoToAllPage()">
    <ion-card-header>
      {{recommendation.touchpoint}}
    </ion-card-header>
    <ion-card-content>
      {{recommendation.conversion_rate}}
      {{recommendation.sellers_cost}}  
      {{recommendation.campaign_cost}}
    </ion-card-content>
    </ion-card>


</ion-content>
